
.icon-exit-fullscreen:before { content: '\e800'; } /* '' */
.icon-icon-market-statistic:before { content: '\e801'; } /* '' */
.icon-icon-star-list:before { content: '\e802'; } /* '' */
.icon-icon-analytic_page:before { content: '\e803'; } /* '' */
.icon-icon-stock-page:before { content: '\e804'; } /* '' */
.icon-icon-investment-board:before { content: '\e805'; } /* '' */
.icon-icon-trade-page:before { content: '\e806'; } /* '' */
.icon-icon-chat-support:before { content: '\e807'; } /* '' */
.icon-icon-live-trade:before { content: '\e808'; } /* '' */
.icon-icon-buy-btn:before { content: '\e80b'; } /* '' */
.icon-icon-fullscreen-in:before { content: '\e80d'; } /* '' */
.icon-icon-sell-btn:before { content: '\e80e'; } /* '' */
.icon-icon-amend-btn:before { content: '\e80f'; } /* '' */